In [1]:
# import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

In [4]:
df_news = pd.read_csv('news_data.csv')
#df_news.info()

C:\Users\rapha\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# change formats
df_news['TICKER'] = df_news['COMPANY'].str[3:]
df_news['TIMESTAMP_UTC'] = pd.to_datetime(df_news['TIMESTAMP_UTC'], utc = True)
df_news['RPNA_DATE_UTC'] = df_news['TIMESTAMP_UTC'].dt.date
df_news['RPNA_TIME_UTC'] = df_news['TIMESTAMP_UTC'].dt.time

In [6]:
# get Eastern Standard Time
df_news['TIMESTAMP_EST'] = df_news['TIMESTAMP_UTC'].dt.tz_convert('America/New_York')
df_news['RPNA_DATE_EST'] = df_news['TIMESTAMP_EST'].dt.date
df_news['RPNA_TIME_EST'] = df_news['TIMESTAMP_EST'].dt.time

In [7]:
from pandas.tseries.offsets import CustomBusinessDay

from pandas.tseries.holiday import AbstractHolidayCalendar, Holiday, nearest_workday, \
    USMartinLutherKingJr, USPresidentsDay, GoodFriday, USMemorialDay, \
    USLaborDay, USThanksgivingDay

class USTradingCalendar(AbstractHolidayCalendar):
    rules = [Holiday('NewYearsDay', month = 1, day = 1, observance = nearest_workday),
             USMartinLutherKingJr,
             USPresidentsDay,
             GoodFriday,
             USMemorialDay,
             Holiday('USIndependenceDay', month = 7, day = 4, observance = nearest_workday),
             USLaborDay,
             USThanksgivingDay,
             Holiday('Christmas', month = 12, day = 25, observance = nearest_workday)]

bday_us = CustomBusinessDay(calendar = USTradingCalendar())

nasdaq_close = pd.to_datetime('16:00:00').time()

df_news['NEXT_MARKET_DATE'] = pd.to_datetime(np.where(df_news['RPNA_TIME_EST'] > nasdaq_close,
                                                      df_news['RPNA_DATE_EST'] + bday_us,
                                                      df_news['RPNA_DATE_EST'] + 0 * bday_us))
df_news['NEXT_MARKET_CLOSE'] = (df_news['NEXT_MARKET_DATE'] + pd.Timedelta(16, unit ='h')).dt.tz_localize('America/New_York')
df_news['TIME_TO_CLOSE'] = df_news['NEXT_MARKET_CLOSE'] - df_news['TIMESTAMP_EST']

In [8]:
df_market = pd.read_csv('djia.csv')
df_market.head(1)

,gvkey,iid,datadate,tic,conm,cshtrd,prccd,prchd,prcld,prcod,trfd,exchg
0,1447,1,4/1/2016,AXP,AMERICAN EXPRESS CO,9228601.0,67.59,68.18,66.77,68.09,2.417612,11

In [9]:
df_market['datadate'] = pd.to_datetime(df_market['datadate'],
                                       dayfirst = True)

In [10]:
df_market['dreturn'] = np.log(df_market.prccd / df_market.prcod)
df_market['dvar'] = ((np.log(df_market.prchd) - np.log(df_market.prcld))**2) / 4 * np.log(2) #Applying the Parkinson (1980) H-L measure
df_market['dvol'] = np.sqrt(df_market.dvar)
df_market['dreturn_flag'] = np.where(df_market['dreturn'] > 0, 1, 0)

In [11]:
market_return=pd.read_csv('gspc.csv')
market_return['mkt_return'] = np.log(market_return.Close / market_return.Open)
market_return=market_return[['Date','mkt_return']]
market_return.columns=['datadate','mkt_return']
market_return['datadate'] = pd.to_datetime(market_return['datadate'])
market_return.head(1)

    datadate  mkt_return
0 2015-12-31   -0.008113

In [12]:
new=pd.merge(df_market, market_return,how='left',on='datadate')
new.head(1)

,gvkey,iid,datadate,tic,conm,cshtrd,prccd,prchd,prcld,prcod,trfd,exchg,dreturn,dvar,dvol,dreturn_flag,mkt_return
0,1447,1,2016-01-04,AXP,AMERICAN EXPRESS CO,9228601.0,67.59,68.18,66.77,68.09,2.417612,11,-0.00737,0.000076,0.008699,0,-0.01261

In [13]:
#need to check tomorrow if more market return is available
len(new)

28248

In [14]:
new = new[np.isfinite(new['prcod'])]
new = new[np.isfinite(new['mkt_return'])]
len(new)

27876

In [15]:
#calculate beta = cov/var
#get covariance
grouped = new.groupby('conm')
group_cov=grouped.apply(lambda x: x['dreturn'].cov(x['mkt_return']))
group_cov=pd.DataFrame(data=group_cov)
group_cov.columns = ['cov']

In [18]:
group_cov.reset_index(inplace=True)
#group_cov

In [19]:
market_var=(new.groupby('conm')['mkt_return'].var())
market_var=pd.DataFrame(data=market_var)
market_var.columns = ['var']
market_var.reset_index(inplace=True)
#market_var

In [20]:
merged_df=pd.merge(group_cov, market_var,how='left',on='conm')
#merged_df

In [21]:
merged_df['beta']=merged_df['cov']/merged_df['var']
merged_df

    level_0  index                          conm       cov       var      beta
0         0      0                         3M CO  0.000033  0.000041  0.794666
1         1      1           AMERICAN EXPRESS CO  0.000034  0.000041  0.833967
2         2      2                     APPLE INC  0.000038  0.000041  0.927551
3         3      3                     BOEING CO  0.000044  0.000041  1.067496
4         4      4               CATERPILLAR INC  0.000048  0.000041  1.172869
5         5      5                  CHEVRON CORP  0.000032  0.000041  0.784118
6         6      6             CISCO SYSTEMS INC  0.000042  0.000041  1.014859
7         7      7                  COCA-COLA CO  0.000019  0.000041  0.450555
8         8      8              DISNEY (WALT) CO  0.000027  0.000041  0.647995
9         9      9              EXXON MOBIL CORP  0.000024  0.000041  0.575956
10       10     10       GOLDMAN SACHS GROUP INC  0.000012  0.000039  0.321324
11       11     11                HOME DEPOT INC  0.000036  0.000041  0.874991
12       12     12                    INTEL CORP  0.000045  0.000041  1.100909
13       13     13   INTL BUSINESS MACHINES CORP  0.000032  0.000041  0.787873
14       14     14             JOHNSON & JOHNSON  0.000023  0.000041  0.566883
15       15     15           JPMORGAN CHASE & CO  0.000016  0.000040  0.392007
16       16     16               MCDONALD'S CORP  0.000023  0.000041  0.555604
17       17     17                    MERCK & CO  0.000023  0.000041  0.551423
18       18     18                MICROSOFT CORP  0.000045  0.000041  1.101683
19       19     19                      NIKE INC  0.000031  0.000041  0.760007
20       20     20                    PFIZER INC  0.000024  0.000041  0.583339
21       21     21           PROCTER & GAMBLE CO  0.000018  0.000041  0.429681
22       22     22             TRAVELERS COS INC  0.000027  0.000041  0.650792
23       23     23      UNITED TECHNOLOGIES CORP  0.000034  0.000041  0.830666
24       24     24        UNITEDHEALTH GROUP INC  0.000033  0.000041  0.795430
25       25     25    VERIZON COMMUNICATIONS INC  0.000023  0.000041  0.552739
26       26     26                      VISA INC  0.000038  0.000041  0.926707
27       27     27  WALGREENS BOOTS ALLIANCE INC  0.000034  0.000041  0.826427
28       28     28                   WALMART INC  0.000021  0.000041  0.505733

In [22]:
#average market return over 2016-2018 period
averagereturn=market_return["mkt_return"].mean()

In [23]:
a=pd.merge(new, merged_df,how='left',on='conm')
a['exp_return']=a['beta']*a['mkt_return']
a['abnormal_return']=a['dreturn']-a['exp_return']
a.head(1)

,gvkey,iid,datadate,tic,conm,cshtrd,prccd,prchd,prcld,prcod,...,dvol,dreturn_flag,mkt_return,level_0,index,cov,var,beta,exp_return,abnormal_return
0,1447,1,2016-01-04,AXP,AMERICAN EXPRESS CO,9228601.0,67.59,68.18,66.77,68.09,...,0.008699,0,-0.01261,1,1,0.000034,0.000041,0.833967,-0.010516,0.003146

In [61]:
df = pd.merge(df_news, a, how = 'left',
              left_on = ['NEXT_MARKET_DATE', 'TICKER'],
              right_on = ['datadate', 'tic'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 823480 entries, 0 to 823479
Data columns (total 79 columns):
TIMESTAMP_UTC           823480 non-null datetime64[ns, UTC]
RPNA_DATE_UTC           823480 non-null object
RPNA_TIME_UTC           823480 non-null object
RP_ENTITY_ID            823480 non-null object
ENTITY_TYPE             823480 non-null object
ENTITY_NAME             823480 non-null object
POSITION_NAME           5568 non-null object
RP_POSITION_ID          5568 non-null object
COUNTRY_CODE            823480 non-null object
RELEVANCE               823480 non-null int64
TOPIC                   45300 non-null object
GROUP                   45300 non-null object
TYPE                    45300 non-null object
SUB_TYPE                21440 non-null object
PROPERTY                14679 non-null object
EVALUATION_METHOD       0 non-null float64
MATURITY                0 non-null float64
CATEGORY                45300 non-null object
ESS                     45300 non-null float64
AES                     823480 non-null int64
AEV                     823480 non-null int64
ENS                     45300 non-null float64
ENS_SIMILARITY_GAP      45300 non-null float64
ENS_KEY                 45300 non-null object
ENS_ELAPSED             45300 non-null float64
G_ENS                   45300 non-null float64
G_ENS_SIMILARITY_GAP    45300 non-null float64
G_ENS_KEY               45300 non-null object
G_ENS_ELAPSED           45300 non-null float64
EVENT_SIMILARITY_KEY    45300 non-null object
NEWS_TYPE               823480 non-null object
SOURCE                  823480 non-null object
RP_STORY_ID             823480 non-null object
RP_STORY_EVENT_INDEX    823480 non-null int64
RP_STORY_EVENT_COUNT    823480 non-null int64
PRODUCT_KEY             823480 non-null object
COMPANY                 823480 non-null object
ISIN                    823480 non-null object
CSS                     823480 non-null int64
NIP                     823480 non-null int64
PEQ                     823480 non-null int64
BEE                     823480 non-null int64
BMQ                     823480 non-null int64
BAM                     823480 non-null int64
BCA                     823480 non-null int64
BER                     823480 non-null int64
ANL_CHG                 823480 non-null int64
MCQ                     823480 non-null int64
TICKER                  823480 non-null object
TIMESTAMP_EST           823480 non-null datetime64[ns, America/New_York]
RPNA_DATE_EST           823480 non-null object
RPNA_TIME_EST           823480 non-null object
NEXT_MARKET_DATE        823480 non-null datetime64[ns]
NEXT_MARKET_CLOSE       823480 non-null datetime64[ns, America/New_York]
TIME_TO_CLOSE           823480 non-null timedelta64[ns]
gvkey                   785719 non-null float64
iid                     785719 non-null float64
datadate                785719 non-null datetime64[ns]
tic                     785719 non-null object
conm                    785719 non-null object
cshtrd                  785719 non-null float64
prccd                   785719 non-null float64
prchd                   785719 non-null float64
prcld                   785719 non-null float64
prcod                   785719 non-null float64
trfd                    785719 non-null float64
exchg                   785719 non-null float64
dreturn                 785719 non-null float64
dvar                    785719 non-null float64
dvol                    785719 non-null float64
dreturn_flag            785719 non-null float64
mkt_return              785719 non-null float64
level_0                 785719 non-null float64
index                   785719 non-null float64
cov                     785719 non-null float64
var                     785719 non-null float64
beta                    785719 non-null float64
exp_return              785719 non-null float64
abnormal_return         785719 non-null float64
dtypes: datetime64[ns, America/New_York](2), datetime64[ns, UTC](1), datetime64[ns](2), float64(30), int64(15), object(28), timedelta64[ns](1)
memory usage: 502.6+ MB

In [62]:
# drop columns with no explanatory worth
drop = ['ENTITY_TYPE', 'RP_POSITION_ID', 'COUNTRY_CODE',
        'EVALUATION_METHOD', 'ENS_KEY', 'G_ENS_KEY', 'EVENT_SIMILARITY_KEY',
        'RP_STORY_ID', 'PRODUCT_KEY', 'level_0','index', 'ISIN', 'BER', 'ANL_CHG',
        'TICKER', 'gvkey', 'iid', 'datadate', 'tic',
        'conm', 'cshtrd', 'prccd', 'prchd', 'prcld', 'prcod', 'trfd', 'exchg']
df = df.drop(drop, axis = 1)

In [63]:
df.head()

,TIMESTAMP_UTC,RPNA_DATE_UTC,RPNA_TIME_UTC,RP_ENTITY_ID,ENTITY_NAME,POSITION_NAME,RELEVANCE,TOPIC,GROUP,TYPE,...,dreturn,dvar,dvol,dreturn_flag,mkt_return,cov,var,beta,exp_return,abnormal_return
0,2016-01-01 10:30:01.663000+00:00,2016-01-01,10:30:01.663000+00:00,03B8CF,3M Co.,NaN,3,NaN,NaN,NaN,...,-0.008343,0.000069,0.008277,0.0,-0.01261,0.000033,0.000041,0.794666,-0.010021,0.001678
1,2016-01-01 10:44:40.104000+00:00,2016-01-01,10:44:40.104000+00:00,03B8CF,3M Co.,NaN,3,NaN,NaN,NaN,...,-0.008343,0.000069,0.008277,0.0,-0.01261,0.000033,0.000041,0.794666,-0.010021,0.001678
2,2016-01-03 23:35:51.992000+00:00,2016-01-03,23:35:51.992000+00:00,03B8CF,3M Co.,NaN,4,NaN,NaN,NaN,...,-0.008343,0.000069,0.008277,0.0,-0.01261,0.000033,0.000041,0.794666,-0.010021,0.001678
3,2016-01-04 05:08:02.003000+00:00,2016-01-04,05:08:02.003000+00:00,03B8CF,3M Co.,NaN,3,NaN,NaN,NaN,...,-0.008343,0.000069,0.008277,0.0,-0.01261,0.000033,0.000041,0.794666,-0.010021,0.001678
4,2016-01-04 07:05:01.705000+00:00,2016-01-04,07:05:01.705000+00:00,03B8CF,3M Co.,NaN,3,NaN,NaN,NaN,...,-0.008343,0.000069,0.008277,0.0,-0.01261,0.000033,0.000041,0.794666,-0.010021,0.001678

In [64]:
# show missing data in rows
missing = (df.isnull().sum(axis = 1) / df.isnull().count(axis = 1)).sort_values(ascending = False)
missing_rows = pd.concat([missing], axis = 1, keys = ['Missing'])
drop_rows = missing_rows[missing_rows['Missing'] > 0.25]
drop_rows.count()

Missing    778840
dtype: int64

In [65]:
# drop observations where most features are missing
df = df.drop(drop_rows.index, axis = 0)

In [66]:
# show missing data in columns
total = df.isnull().sum().sort_values(ascending = False)
percent = (df.isnull().sum() / df.isnull().count()).sort_values(ascending = False)
missing_clmns = pd.concat([total, percent], axis = 1, keys = ['Total', 'Percent'])
missing_clmns.head(5)

               Total   Percent
MATURITY       44640  1.000000
POSITION_NAME  39072  0.875269
PROPERTY       29961  0.671169
SUB_TYPE       23200  0.519713
dvar            2094  0.046909

In [67]:
# drop features where most observations are missing
df = df.drop((missing_clmns[missing_clmns['Percent'] > 0.25]).index, axis = 1)

In [68]:
len(df)

44640

In [69]:
df.head()

,TIMESTAMP_UTC,RPNA_DATE_UTC,RPNA_TIME_UTC,RP_ENTITY_ID,ENTITY_NAME,RELEVANCE,TOPIC,GROUP,TYPE,CATEGORY,...,dreturn,dvar,dvol,dreturn_flag,mkt_return,cov,var,beta,exp_return,abnormal_return
12,2016-01-05 18:04:50.860000+00:00,2016-01-05,18:04:50.860000+00:00,03B8CF,3M Co.,100,business,technical-analysis,technical-view,technical-view-bearish,...,0.004350,0.000029,0.005368,1.0,0.001454,0.000033,0.000041,0.794666,0.001155,0.003194
38,2016-01-12 15:00:32.995000+00:00,2016-01-12,15:00:32.995000+00:00,03B8CF,3M Co.,100,business,technical-analysis,technical-view,technical-view-bearish,...,-0.003543,0.000080,0.008939,0.0,0.005612,0.000033,0.000041,0.794666,0.004460,-0.008003
53,2016-01-19 09:26:56.787000+00:00,2016-01-19,09:26:56.787000+00:00,03B8CF,3M Co.,100,business,investor-relations,major-shareholders-disclosure,major-shareholders-disclosure,...,-0.012281,0.000103,0.010145,0.0,-0.003889,0.000033,0.000041,0.794666,-0.003090,-0.009190
65,2016-01-20 15:02:58.977000+00:00,2016-01-20,15:02:58.977000+00:00,03B8CF,3M Co.,100,business,technical-analysis,relative-strength-index,relative-strength-index-oversold,...,0.000073,0.000090,0.009493,1.0,-0.009022,0.000033,0.000041,0.794666,-0.007169,0.007242
86,2016-01-22 16:46:36.045000+00:00,2016-01-22,16:46:36.045000+00:00,03B8CF,3M Co.,100,business,insider-trading,insider-gift,insider-gift,...,-0.004434,0.000049,0.007015,0.0,0.015591,0.000033,0.000041,0.794666,0.012390,-0.016824